header{
  height: 40px;
  diplay: block;
  margin-top: 15px;
}

a{
  text-decoration: none;
}


.nav{
  float: right;
  margin-right: 15px;
  text-decoration: none;
}

.nav li{
  display: inline;
  margin-right: 10px;
}

#Login{
  width: 100px;
  padding: 5px 15px;
  border-radius: 5px;
  text-align: center;
  background-color: blue;
  color: white;
  text-decoration: none;
  font-weight: bold;
}



main {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-top: 80px;
}


#Image, .searchbar{
  width: 450px;
}

input.searchbar{
  padding: 15px;
}

.searchbar{
  display: block;
  margin: 0 auto;
  height: 8px;
  border-radius: 200px;
  border: 1px solid #dedede;
  box-shadow: 1px 1px 1px 1px #eaeaea;
}


#search li {
  display: inline-block;
  background-color: #e6e6e6;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  padding: 10px 20px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 1px 1px #eaeaea;
}

#search li:hover {
  color: #8c8c8c;
  border: 1px solid #8c8c8c;
  box-sizing: border-box;
}

#search li:active {
  color: #3333cc;
  border: 1px solid #3333cc;
  box-sizing: border-box;
}

.google-language{
  font-size: 12px;
  margin: 10px;
}


footer{

  display: block;
  background-color: #ebebeb;
  position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;

  border: 1px solid #8c8c8c;
  box-sizing: border-box;

}

footer li{
  display: inline-block;
  margin-right: 15px;
}

.footer-left {
  float: left;
  margin-left: 20px;
  margin-top: 10px
}


.footer-right {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}

footer a{
  font-size: 12px;
  text-decoration: none;
  color: #464646;
}

.country{
  border: 1px solid #8c8c8c;
  box-sizing: border-box;
  margin-top: -1px;
  margin-left: -1px;
  margin-right: -1px;
}

.country-text{
  margin-left: 20px;
  margin-top: 10px
}